@import '~spectre.css/dist/spectre.min.css';
nav { border-radius: 8px;
    padding: 15px 30px;
    background-color: darkslategrey;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav .user-info {
    display: flex;
    align-items: center;
}

nav .user-info span {
    margin-right: 15px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
    color: white;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
}

nav ul li a:visited {
    color: white;
}

nav ul li a:hover {
    background-color: #1f3a3a;
    color: #ffffff;
    text-decoration: none;
}

nav ul li button {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    cursor: not-allowed;
    padding: 8px 15px;
    font-size: 16px;
    margin-left: 10px;
}


.container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

.btn {
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    color: white;
}

.btn-reg {
    background-color: green;
}

.btn-view {
    background-color: darkslategray;
}

.btn-view:hover {
    background-color: lightgray;
    color: black;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}
.form-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

input[type="text"],
input[type="date"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
    min-height: 50px;
}
